select{padding: 10px;
font-size: 16px;
border: 1px solid #ccc624;
border-radius: 4px;
margin-top: 10px;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../image/background.jpg);
background-size: cover;
    color: #333;
}

header{    padding-top: 10px;
    text-align: center;
    height: 60px;
        color: #908fc3;
 background:linear-gradient(to right, #5e6e8d, #2e2d73)}
form{
    
        background: rgb(29 27 41 / 60%);
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 62%;
    height: 90%;
    margin-right: 30px;
    margin-left: 20%;
}

.container{

  
    background: #d0c9d9d1;
}
#form-title{
    
    color: #0d1751;
    text-align: center;

}

#add-btn{
        color: #eff0f4;
     border-color: #8b8b8d;
    border-radius: 8px;
    background-color: #3d3d73;
    margin: 30px;


}
#add-btn:hover{
 background-color: #23147a;

}

label {
color: #ebe8ed;

}
input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #212355;
border-radius: 10px;
box-sizing: border-box;
}
.middleDiv
{
background:rgba(24, 23, 28 , 0.5);
margin-top: 10px;
border-radius: 10px;
border: none;
padding: 20px;
width: 62%;
height: 90%;
margin-right: 30px;
margin-left: 20%;
}

#show-trash-btn{
    font-family: sans-serif;
    font-style: italic;
    color: #dde7ef;
    background: #303072;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 15px;

    margin-left: 45%;
}
#show-trash-btn:hover{
 background-color: #23147a;

}

table{

    border-collapse: collapse;
width: 62%;
    margin-top: 20px;
    margin-right: 30px;
margin-left: 20%;
}
th,td{
    
    border: 1px solid #130a0a;
    padding: 8px;
    text-align: center;
}
th{
    background-color: rgb(121, 120, 167);
}

.edit-btn {
      border: none;
    border-radius: 8px;
  background-color: #007bff; 
  color: white;
}
.edit-btn:hover {
  background-color: #172793;
}


.delete-btn {
  border: none;
       border-radius: 8px;
  background-color: #cd5763; 
  color: white;}


.hidden {
  display: none;
}


/* Start footer*/
footer{  
    top:40px;
 
      background-color: #614f7a;
    position: relative;
    color: white;
    text-align: center;}


.footer-containers{
    position: relative;

   background:linear-gradient(to right, #5e6e8d, #2e2d73);
   

}

.footer p:not(.copyright){
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;

}
.social-icons i{
    padding: 10px 15px;

}

.copyright{
    margin-top: 20px;


}
.copyright span{
    font-weight: bold;
    color: var(--main-color);


}
/* end footer*/
